.main-part{
    
    background-color: aqua;
}

.play-part{
   
    background-color: bisque;
}

.nav{
    background-color: blue;
}

.song{
    background-color: brown;
}

.header-song{
    background-color: burlywood;
}

.select-song{
    background-color: peru;
}