@media screen and (max-width: 768px) {

    /**song**/

    .top-select ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .grid-song{
        flex-wrap: wrap;
    }

    .card-song{
        width: 20%;
    }


    .external .fa-heart,
    .external .fa-solder{
        width: 100%;
        padding: 0;
    }


    .icon {
        gap: 10px;
    }
    
    
}



@media screen and (max-width: 500px) {

    /**song**/


    .grid-song{

        gap:10px;
    }

    .card-song{
        width: calc((100% - 10px) / 2) ;
    }

    .comand {
        
        gap: 5px;
    }
    

    .icon {
        gap: 5px;
    
}

















@media screen and (max-width: 425px) {

    /**nav**/

    .nav{
        width: 10%;
    }

    .song{
        width: 90%;
    }


    .container-nav{
        padding: 5px 15px;
    }
    .grate-logo,
    .vanish {
        display: none;
    }

    .fa-spotify{
        display: inline-block;
    }

    .fa-house:hover,
    .famagnifying-glass:hover,
    .fa-bars:hover{
        color: white;
        width: 100%;
    }

    .nav{
        display: flex;
        justify-content: center;
    }

    .logo,
    main-nav{
        width: 100%;
    }

    .main-nav ul{
        padding-top: 5px;
    }

    .row{
        flex-direction: column;
        justify-content: space-between;
    }


    /**song**/

    .top-select ul li{
        width: calc((100% - 30px) / 4);
        font-size: 10px;
    }
}