*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: lightgrey;
}


img{
    width: 100%;
}

ul{
    list-style: none;
}


a {
    color: inherit;
    text-decoration: none;
}
/**contanier**/

.main-part{
    width: 100%;
    height: 90vh;
    display: flex;
}

.play-part{
    width: 100%;
    height: 10vh;
}


.nav{
    width: 20%;
    height: 100%;
}

.song{
    width: 80%;
    height: 100%;
}

.header-song{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.select-song{
    width: 100%;
    height: 90%;
    overflow: auto;
}


.container-nav{
    padding: 15px 15px;
}



/**bottoni**/

.btn{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid lightgrey;
}

.header-song .btn  {
    margin-right: 10px;
}



.header-song .btn:hover{
    color: white;
    border-color: white;
}

/**nav**/

.logo{
    width: 60%;
}

.main-nav ul{
    padding-top: 15px;
}

.main-nav ul li{
    padding: 5px;
}

.home:hover{
    color: white;
    .fa-house{
        color: white;
    }
}

.cerca:hover{
    color: white;
    .fa-magnifying-glass{
        color: white;
    }
}

.lib:hover{
    color: white;
    .fa-bars{
        color: white;
    }
}