* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: lightgrey;
    font-family: "Montserrat", sans-serif;
}


img {
    width: 100%;
}

ul {
    list-style: none;
}


a {
    color: inherit;
    text-decoration: none;
}



/**contanier**/

.main-part {
    width: 100%;
    height: 90vh;
    display: flex;
}

.play-part {
    width: 100%;
    height: 10vh;
    background-color: #282828;
}


.nav {
    width: 20%;
    height: 100%;
    background-color: black;
}

.song {
    width: 80%;
    height: 100%;
    background-color: #151922;
}

.header-song {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #080b12;
}

.select-song {
    width: 100%;
    height: 90%;
    overflow: auto;
    background-color: #151922;
}

.container-list {
    padding: 0 15px;
    width: 100%;
}


.container-nav {
    padding: 15px 15px;
    width: 100%;
}



/**bottoni**/

.btn {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid lightgrey;
}

.header-song .btn {
    margin-right: 10px;
}



.header-song .btn:hover {
    color: white;
    border-color: white;
    transform: scale(1.1);
}

/**nav**/

.logo {
    width: 60%;
}

.fa-spotify {
    display: none;
}

.main-nav ul {
    padding-top: 15px;
}

.main-nav ul li {
    padding: 5px 0;
}

.home:hover {
    color: white;

    .fa-house {
        color: white;
    }
}

.cerca:hover {
    color: white;

    .fa-magnifying-glass {
        color: white;
    }
}

.lib:hover {
    color: white;

    .fa-bars {
        color: white;
    }
}


/**playlist**/

h5 {
    color: white;
    padding: 10px 0;
}

.plus {
    display: inline-block;
    background-color: lightgrey;
    color: black;
    padding: 5px 10px;
    font-size: 20px;
    margin-right: 5px;
}

.playlist:hover span {
    color: white;
}

.container-list ul {
    padding: 10px 0;
}

.container-list ul li {
    padding: 3px 0;
}

.container-list ul li:hover {
    color: white;
}

.row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

hr {
    border: 1px solid white;
    width: 100%;

}

.nav-footer {
    padding: 10px 0;
}

.fa-user {
    padding: 3px 3px;
    background-color: lightgray;
    border-radius: 50%;
    color: white;
}

.grow {
    height: 55%;
}

.container-list ul {
    overflow: auto;
    height: 100%;
}

/**song**/

.top-select ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
}

.top-select ul li:hover {

    color: white;
}

.container-song {
    padding: 20px 20px;

}

.top-select h2 {
    color: white;
}

.grid-song {
    display: flex;
    gap: 20px;
}

.card-song {
    width: 15%;
}

.copertina {
    position: relative;
}

.top-select h5 {
    padding: 5px;
    text-align: center;
}

.top-select p {
    text-align: center;
}

.card-song .fa-circle-play {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.card-song:hover {
    .fa-circle-play {
        z-index: 2;
    }
}

.copertina:hover {
    .fa-circle-play {
        z-index: 2;
    }
}

.john-doe h3,
.famus h3 {
    color: lightgray;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 12px;
}

.circle {
    border-radius: 50%;
}




/**paypart**/

.container-inplay {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    justify-content: center;
}

.row-inplay {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.external {
    width: 20%;
}

.internal {
    width: 60%;
}



/**left**/

.row-left{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.row-left img{
    width: 15%;
    display: block;
}

.row-left h5{
    padding: 0;
}






.external h3,
.external h5 {
    font-size: 12px;
}

.external h3 {
    color: white;
}

.external h5 {
    color: lightgray;
}

.fa-heart:hover,
.fa-folder:hover {
    color: white;
}

.fa-heart {
    padding: 0 15px;
}

.comand {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}




/**center**/
.comand .fa-shuffle:hover,
.comand .fa-backward-step:hover,
.comand .fa-circle-play:hover,
.comand .fa-forward-step:hover,
.comand .fa-rotate-right:hover {
    color: white;
}


.comand .fa-circle-play:hover {
    transform: scale(1.1);
}

.comand .fa-circle-play {
    font-size: 18px;
}






.bar {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 10px 0;
}


.bar p {
    color: white;
    font-size: 10px;
}

.start {
    text-align: right;
}

.finish {
    text-align: left;
}

.lisened {
    background-color: white;
    width: 20%;
    height: 3px;
    align-self: center;
}

.not-lis {
    background-color: grey;
    width: 80%;
    height: 3px;
    align-self: center;
}

.cursor {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    left: 20%;
    z-index: -1;
}

.riproduzione {
    width: 100%;
    display: flex;
    position: relative;
}

.riproduzione:hover {
    .cursor {
        z-index: 2;
    }
}

/**destra**/
.row-sound {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
}


.icon {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.sound {
    width: 70%;
    display: flex;
}

.fa-list:hover,
.fa-display:hover,
fa-volume-high:hover {
    color: white;
}






/**speudo elementi bonus**/
.green-bottom{
    height: 3px;
    width: 40px;
    background-color: green;
    position: absolute;
    bottom: -3px;
    left:50%;
    transform: translate(-50%, -50%);
}

.relative{
    position: relative;
}


.home{
    position:relative;
}

.green-left{
    background-color: green;
    width: 3px;
    height: 28px;
    position: absolute;
    top: 0;
    left: -15px;

}