*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**contanier**/

.main-part{
    width: 100%;
    height: 90vh;
    display: flex;
}

.play-part{
    width: 100%;
    height: 10vh;
}


.nav{
    width: 30%;
    height: 100%;
}

.song{
    width: 70%;
    height: 100%;
}

.header-song{
    width: 100%;
    height: 10%;
}

.select-song{
    width: 100%;
    height: 90%;
    overflow: auto;
}